* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f8ecef;
}

.TOP {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 35px;
  margin: 50px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.box {
  /* border-style: dotted;
  border-color: black 1px; */
  margin: 0 auto;
  padding: 25px 0px;
  width: 900px;
  background-color: #F3DBE1;
  line-height: 1.5em;
}

.box1 {
  /* border-style: dotted;
  border-color: black 1px; */
  padding: 0px;
  display: inline-block;
}

.date {
  display: flex;
}

.name {
  padding: 0px 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.name1 {
  padding-right: 150px;
  padding-left: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.name2 {
  padding-right: 125px;
  padding-left: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

textarea { 
  /* width: 100%; */
  background: transparent;
  line-height: 1.5em;
  resize: none;
  border: 0 none;
  outline: none;
  font-size: 1.5em;
}

.hoe {
  flex: 1;
  height: fit-content;
  width: 100%;
  background-color: transparent;
  background-size: 100% 1.75em;
  background-image: -webkit-linear-gradient(0deg, transparent 79px, #000 79px, #000 81px, transparent 81px), -webkit-linear-gradient(#000 .05em, transparent .05em);
  background-image: -moz-linear-gradient(0deg, transparent 79px, #000 79px, #000 81px, transparent 81px), -moz-linear-gradient(#000 .05em, transparent .05em);
  background-image: -ms-linear-gradient(0deg, transparent 79px, #000 79px, #000 81px, transparent 81px), -ms-linear-gradient(#000 .05em, transparent .05em);
  background-image: -o-linear-gradient(0deg, transparent 79px, #000 79px, #000 81px, transparent 81px), -o-linear-gradient(#000 .05em, transparent .05em);
  background-image: linear-gradient(0deg, transparent 79px, #000 79px, #000 81px, transparent 81px), linear-gradient(#000 .05em, transparent .05em);
  -pie-background: linear-gradient(0deg, transparent 79px, #000 79px, #000 81px, transparent 81px) 0 0 / 100% 1.2em, linear-gradient(#000 .05em, transparent .05em) 0 0 / 100% 1.2em #fff;
 
}



.box1 ul {
  list-style-type: none;
}

.box1 li {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  display: block;
  margin: 10px 0px;
}


/* .line {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-family: 'Gotu', sans-serif;
  font-size: 20px;
} */

/* ------ */
/* TO DO SECTION */
.toDo {
  /* border-style: dotted;
  border-color: black 1px; */
  margin: 0 auto;
  margin-top: 20px;
  padding: 50px;
  width: 900px;
  /* background-color: #F3DBE1; */
  line-height: 1.5em;
  display: flex;
  justify-content: center;
}

.to1 {
  /* border-style: dotted;
  border-color: black 1px; */
  display: inline-block;
  width: 300px;
  margin-right: 10px;
}

.to2 {
  /* border-style: dotted;
  border-color: black 1px; */
  width: 300px;
  display: inline-block;
  margin-left: 10px;
}

.to1Title h1 {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
}

.imp {
  /* border-style: dotted;
  border-color: black 1px; */
  margin: 0 auto;
  margin-top: 20px;
  /* padding: 50px; */
  padding-bottom: 200px;
  width: 900px;
  /* background-color: #F3DBE1; */
  /* line-height: 1.5em; */
  /* display: flex;
  justify-content: center; */
  
}

.impT {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 21.5px;
  /* background-color: #eaeab8; */
  padding: 0px 10px;
}

@media screen and (max-width: 767px) {
  .box {
    width: 100%;
    padding: 10px;
  }
  /* .line {
    padding-bottom: 5px;
    margin-bottom: 5px;
  } */
}