@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat:wght@200&display=swap');

@font-face {
  font-family: 'Thunder-BoldLC';
  src: url('./fonts/Thunder-BoldLC.woff2') format('woff2'),
       url('./fonts/Thunder-BoldLC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Thunder-LightLC';
  src: url('./fonts/Thunder-LightLC.woff2') format('woff2'),
       url('./fonts/Thunder-LightLC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: var(--text);
    line-height: 1.5;
  }
  body {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    background-color: rgba(235, 236, 240);
  }

  :root{
    --text: #6F2DBD;
    --babyblue: #B8D0EB;
    --lav: #A663CC;
    --lightlav: #B298DC;
    --cyan: #B9FAF8;
    --white: #FFFFFF;
    
  }

  @keyframes header {
    0%{
      transform: translateY(-30px);
      opacity: 0;
    } 
    100%{
      transform: translateY(0);
        opacity: 1;
    }
  }