.test {
    font-size: 5rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .card {
    flex: 0 1 calc(25% - 1em);
    border-style: solid;
}

#open-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0s opacity 0.5s;
  transition: 200ms ease-in-out;
}

.modal-content {
  background-color: white;
  width: 50%;
  height: 20%!important;
  display: flex!important;
  justify-content: space-around!important;
  align-items: center!important;
  flex-direction: column!important;
  border: 1px solid black!important;
  border-radius: 10px!important;
}

.modal-x {
  cursor: pointer;
}

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
 
    .card {
        flex: 0 1 calc(50% - 1em);
    }
}

@media screen and (min-width: 60em) {
    .card {
        flex: 0 1 calc(25% - 1em);
    }
}